<div class="footer-sponsors">
    <h4>The <a href="/about/xmpp-standards-foundation/">XSF</a> is generously sponsored by:</h4>
    <ul>
      <li><a href="/sponsors/processone/"><img src="/images/logos/process-one.png" alt="ProcessOne" class="sponsor-logo"></a></li>
      <li><a href="/sponsors/tigase/"><img src="/images/logos/tigase.png" alt="Tigase"></a></li>
      <li><a href="/sponsors/us-secure-hosting-center/"><img src="/images/logos/usshc.png" alt="US Secure Hosting Center"></a></li>
    </ul>
</div>
<div class="footer-github">
    <p>
        <i class="fab fa-github fa-lg"></i>
        This site is organized in the open on <a href="https://github.com/xsf/xmpp.org" target="blank_">GitHub</a>.
        {{- partial "edit-on-github" . -}}
    </p>
    <p>The xmpp.org domain was generously donated by <a href="https://opendomain.org" target="blank_">OpenDomain.org</a>.</p>
</div>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row g-4 py-5 row-cols-1 row-cols-sm-4">
            <div class="col d-flex my-0">
                <img src="/images/logos/xmpp-logo.svg" alt="XMPP logo" class="footer-xmpp-logo">
            </div>
            <div class="col d-flex">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About XMPP</a>
                    </li>
                    <li>
                        <a href="/extensions/">Specifications</a>
                    </li>
                    <li>
                        <a href="/uses/">Uses</a>
                    </li>
                    <li>
                        <a href="/software/">Software</a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex">
                <ul>
                    <li>
                        <a href="/community/">Community</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="/newsletter/">Newsletter</a>
                    </li>
                    <li>
                        <a href="/contact/">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex">
                <ul>
                    <li>
                        <a href="https://fosstodon.org/@xmpp" target="blank_">@Mastodon</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/xmpp" target="blank_">@Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/xmpp-standards-foundation" target="blank_">@LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCf3Kq2ElJDFQhYDdjn18RuA" target="blank_">@Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{{- "js/bootstrap.bundle.min.js" | absURL -}}"></script>
<script src="{{- "js/bootstrap-theme-switcher.js" | absURL -}}"></script>
<script src="{{- "js/sorttable.js" | absURL -}}"></script>
<script src="{{- "js/scripts.js" | absURL -}}"></script>
{{- if ( .Params.mermaid ) -}}
    <script async src="{{- "js/mermaid.min.js" | absURL -}}"></script>
{{- end -}}
