<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- if .IsHome -}}
        <meta property="og:title" content="{{ .Site.Title }}">
        <meta name="twitter:title" content="{{ .Site.Title }}">
        <meta name="description" content="{{ .Site.Params.Description }}">
        <meta name="twitter:description" content="{{ .Site.Params.Description }}">
        <meta property="og:description" content="{{ .Site.Params.Description }}">
    {{- else -}}
        <meta property="og:title" content="{{ .Page.Title }} | {{ .Site.Title }}">
        <meta name="twitter:title" content="{{ .Page.Title }} | {{ .Site.Title }}">

        <meta name="description" content="{{- .Page.Summary | plainify | strings.Truncate 250 -}}">
        <meta property="og:description" content="{{- .Page.Summary | plainify | strings.Truncate 250 -}}">
        <meta name="twitter:description" content="{{- .Page.Summary | plainify | strings.Truncate 250 -}}">
    {{- end -}}
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ .Site.Params.SiteLogoUrl }}">
    <meta property="og:image:alt" content="{{ .Site.Params.SiteLogoAlt }}" />
    <meta property="og:image:width" content="{{ .Site.Params.SiteLogoWidth }}" />
    <meta property="og:image:height" content="{{ .Site.Params.SiteLogoHeight }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Site.Params.SiteLogoUrl }}">
    <meta property="twitter:domain" content="xmpp.org">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#212529">

    <link rel="canonical" href="{{- .Permalink -}}">
    <link rel="me" href="https://fosstodon.org/@xmpp">

    <title>
      {{- if .IsHome -}}
      {{- printf "%s | %s" .Site.Title (.Param "subtitle") -}}
      {{- else -}}
      {{- printf "%s | %s" .Title .Site.Title -}}
      {{- end -}}
    </title>

    {{- with $bootstrap := resources.Get "css/bootstrap.min.css" -}}
    {{- with $secureBootstrap := $bootstrap | resources.Fingerprint "sha256" -}}
    <link rel="stylesheet" type="text/css" href="{{- $bootstrap.Permalink}}" integrity="{{$secureBootstrap.Data.Integrity}}">
    {{- end -}}
    {{- end -}}
    {{- with $style := resources.Get "css/style.css" | resources.Minify -}}
    {{- with $secureStyle := $style | resources.Fingerprint "sha256" -}}
    <link rel="stylesheet" type="text/css" href="{{- $style.Permalink -}}" integrity="{{$secureStyle.Data.Integrity}}">
    {{- end -}}
    {{- end -}}
    {{- with $style := resources.Get "fonts/font.css" | resources.Minify -}}
    {{- with $secureStyle := $style | resources.Fingerprint "sha256" -}}
    <link rel="stylesheet" type="text/css" href="{{- $style.Permalink -}}" integrity="{{$secureStyle.Data.Integrity}}">
    {{- end -}}
    {{- end -}}
    {{- with $style := resources.Get "fontawesome/css/all.min.css" -}}
    {{- with $secureStyle := $style | resources.Fingerprint "sha256" -}}
    <link rel="stylesheet" type="text/css" href="{{- $style.Permalink -}}" integrity="{{$secureStyle.Data.Integrity}}">
    {{- end -}}
    {{- end -}}

    <noscript>
        <style>
            /* Expand all (usually collapsed) elements. */
            #extensions-collapse:not(.show) {
                display: block;
            }
        </style>
    </noscript>
</head>
