<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ "css/bootstrap.min.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "fonts/font.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "fontawesome/css/all.min.css" | absURL }}">
    <link rel="me" href="https://fosstodon.org/@xmpp">
    <title>
      {{- if .IsHome }}
      {{- printf "%s | %s" .Site.Title (.Param "subtitle") }}
      {{- else }}
      {{- printf "%s | %s" .Site.Title .Title }}
      {{- end }}
    </title>
</head>
