<aside class="col-12 col-lg-2 ml-auto sidebar">
    <p><a href="/about">« About</a></p>
    <h4>Jabber Trademark</h4>
    <ul>
        <li>
            <a href="/about/xsf/jabber-trademark/">Licensing program</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/background/">Background</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/usage-guidelines/">Usage guidelines</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/who-needs-a-license/">Who needs a license</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/whats-required/">What's required</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/unlicensed-users/">Unlicensed users</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/license-decision-process/">Licensing decision process & application</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/dispute-resolution/">Dispute resolution</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/trademark-license-agreement/">Trademark license agreement</a>
        </li>
        <li>
            <a href="/about/xsf/jabber-trademark/approved-applications/">Approved applications</a>
        </li>
    </ul>
</aside>
