<aside class="col-12 col-lg-2 ml-auto sidebar">
    <p><a href="/about">« Back</a></p>
    <h4>Guidelines</h4>
    <ul>
        <li>
            <a href="/implementation-guidelines/design/">User Interface</a>
        </li>
        <li>
            <a href="/implementation-guidelines/protocol/">Protocol</a>
        </li>
        <li>
            <a href="/implementation-guidelines/groupchat/">Multi-user Chats</a>
        </li>
        <li>
            <a href="/implementation-guidelines/terminology/">Terminology</a>
        </li>
    </ul>
    <hr>
    <div>
        <h4>Content</h4>
        {{ $startLevel := 2 }}
        {{ $endLevel := 2 }}
        {{ $ordered := false }}
        {{ .Fragments.ToHTML $startLevel $endLevel $ordered }}
    </div>
</aside>
