<aside class="col-12 col-lg-2 ml-auto sidebar">
    <p><a href="/announcements/">« Announcements</a></p>
    <h4>Open Letter</h4>
    <ul>
        <li>
            <a href="/announcements/open-letter-meta-dma/">The Letter</a>
        </li>
        <li>
            <a href="/announcements/open-letter-meta-dma/technical-briefing">The Technical Briefing</a>
        </li>
    </ul>

    <h4>Helpful Links</h4>

    <ul>
        <li>
            <a href="/about/xmpp-standards-foundation/">The XSF</a>
        </li>
        <li>
            <a href="/about/press-kit">Press Kit</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</aside>
