<aside class="col-12 col-lg-2 ml-auto sidebar">
    <p><a href="/about">« About</a></p>
    <h4>About the XSF</h4>
    <ul>
        <li>
            <a href="/about/xmpp-standards-foundation/">The XSF</a>
        </li>
        <li>
            <a href="/about/xsf/bylaws/">Bylaws</a>
        </li>
        <li>
            <a href="/about/xsf/mission/">Mission Statement</a>
        </li>
        <li>
            <a href="/about/xsf/members/">Members</a>
        </li>
        <li>
            <a href="/about/xsf/editor-team/">Editor Team</a>
        </li>
        <li>
            <a href="/about/xsf/infrastructure-team/">Infrastructure Team</a>
        </li>
        <li>
            <a href="/about/xsf/scam-team/">Summits, Conferences & Meetups Team</a>
        </li>
        <li>
            <a href="/about/xsf/comm-team/">Communication Team</a>
        </li>
    </ul>
</aside>
