{{ $sponsors := site.Data.sponsors }}

{{ if $sponsors.titanium }}
<h2>Titanium Sponsors</h2>
<div class="sponsors-titanium">
    {{ range $sponsors.titanium }}
    <div class="sponsor">
        <div class="sponsor-logo">
            <a href="/sponsors/{{ .slug }}">
                <img src="{{ .logo }}" alt="{{ .name }}">
            </a>
        </div>

        <div class="sponsor-content">
            <h3>{{ .name }}</h3>
            {{ if .description }}
            <p>{{ .description }}</p>
            {{ end }}
            <a href="/sponsors/{{ .slug }}">More about {{ .name }}</a>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}

{{ if $sponsors.platinum }}
<h2>Platinum Sponsors</h2>
<div class="sponsors-platinum">
    {{ range $sponsors.platinum }}
    <div class="sponsor">
        <div class="sponsor-logo">
            <a href="/sponsors/{{ .slug }}">
                <img src="{{ .logo }}" alt="{{ .name }}">
            </a>
        </div>

        <div class="sponsor-content">
            <h3>{{ .name }}</h3>
            {{ if .description }}
            <p>{{ .description }}</p>
            {{ end }}
            <a href="/sponsors/{{ .slug }}">More about {{ .name }}</a>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}

{{ if $sponsors.gold }}
<h2>Gold Sponsors</h2>
<div class="sponsors-gold">
    {{ range $sponsors.gold }}
    <div class="sponsor">
        <div class="sponsor-logo">
            <a href="/sponsors/{{ .slug }}">
                <img src="{{ .logo }}" alt="{{ .name }}">
            </a>
        </div>

        <div class="sponsor-content">
            <h3>{{ .name }}</h3>
            {{ if .description }}
                <p>{{ .description }}</p>
            {{ end }}
            <a href="/sponsors/{{ .slug }}">More about {{ .name }}</a>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}

{{ if $sponsors.silver }}
<h2>Silver Sponsors</h2>
<div class="sponsors-silver">
    {{ range $sponsors.silver }}
    <div class="sponsor-logo">
        <img src="{{ .logo }}" alt="{{ .name }}">
    </div>
    {{ end }}
</div>
{{ end }}