default_language_version:
    python: python3.14

repos:
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
      - id: ruff-format

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
    - id: pyright
      pass_filenames: false
      additional_dependencies:
        - "beautifulsoup4"
        - "colorama"
        - "defusedxml"
        - "packaging"
        - "Pillow"
        - "python-slugify"
        - "requests"
        - "scour"
