{{- range .Site.Data.books -}}
    <div class="row pb-5">
        <div class="col-12 col-md-4">
            <a href="{{- .url -}}" target="_blank">
                <img class="img-thumbnail mb-4" src="{{- .cover -}}" alt="Cover: {{- .title -}}">
            </a>
        </div>
        <div class="col-12 col-md-8">
            <h2>{{- .title -}}</h2>
            <p><small class="text-body-secondary">By:&nbsp;<em>{{- .authors -}}</em>&nbsp;({{- .year -}})</small></p>
            <p>{{- (replace .abstract "\n" "<br/>") | safeHTML -}}</p>
        </div>
    </div>
{{- end -}}