<p class="jsSupport"><em>Note: The following table is sortable, just click on the headers (click twice to reverse the sort order).</em></p>

<p class="jsSupport">
    <em>Note: You can change show/hide the various types of XEPs by checking/unchecking the checkboxes below.</em>
</p>

<div class="xeplist">
    <form action="#">
        <p id="status-selector" class="jsSupport">
            <input type="checkbox" id="Active" name="Active" checked="checked" /><label for="Active">Active</label>
            <input type="checkbox" id="Deferred" name="Deferred" /><label for="Deferred">Deferred</label>
            <input type="checkbox" id="Deprecated" name="Deprecated" /><label for="Deprecated">Deprecated</label>
            <input type="checkbox" id="Stable" name="Stable" checked="checked" /><label for="Stable">Stable</label>
            <input type="checkbox" id="Experimental" name="Experimental" checked="checked" /><label for="Experimental">Experimental</label>
            <input type="checkbox" id="Final" name="Final" checked="checked" /><label for="Final">Final</label>
            <input type="checkbox" id="Obsolete" name="Obsolete" /><label for="Obsolete">Obsolete</label>
            <input type="checkbox" id="Proposed" name="Proposed" checked="checked" /><label for="Proposed">Proposed</label>
            <input type="checkbox" id="Rejected" name="Rejected" /><label for="Rejected">Rejected</label>
            <input type="checkbox" id="Retracted" name="Retracted" /><label for="Retracted">Retracted</label>
        </p>
    </form>

    <table class="sortable" id="xeplist">
        <thead>
            <tr class="xepheader">
                <th>Number</th>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{ range sort .Site.Data.xeplist ".number" }}
            {{ $number_str := printf "%04g" .number }}
            <tr class="XEP-{{ .status }}" id="xep{{ $number_str }}">
                <td><a href="/extensions/xep-{{ $number_str }}.html">XEP-{{ $number_str }}</a></td>
                <td>{{ .title }}</td>
                <td>{{ .type }}</td>
                <td>{{ .status }}</td>
                <td>{{ .last_updated }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
