<div class="alert alert-secondary" role="alert">
    <div class="d-flex flex-row">
        <div>
            <i class="fas fa-info-circle pe-2"></i>
        </div>
        <div>
            <span>
                The following table is sortable, just click on the headers (click twice to reverse the sort order).<br>
                You can show/hide the various types of XEPs by checking/unchecking the checkboxes below.
            </span>
        </div>
    </div>
</div>
<div class="xeplist">
    <div class="border-top border-start border-end p-3">
        <form action="#">
            <div id="status-selector">
                <div class="d-flex flex-wrap pb-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Proposed" name="Proposed" checked="checked" />
                        <label class="form-check-label" for="Proposed">Proposed</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Experimental" name="Experimental"
                            checked="checked" />
                        <label class="form-check-label" for="Experimental">Experimental</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Deferred" name="Deferred" />
                        <label class="form-check-label" for="Deferred">Deferred</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Stable" name="Stable" checked="checked" />
                        <label class="form-check-label" for="Stable">Stable</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Final" name="Final" checked="checked" />
                        <label class="form-check-label" for="Final">Final</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Active" name="Active" checked="checked" />
                        <label class="form-check-label" for="Active">Active</label>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Deprecated" name="Deprecated" />
                        <label class="form-check-label" for="Deprecated">Deprecated</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Obsolete" name="Obsolete" />
                        <label class="form-check-label" for="Obsolete">Obsolete</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Rejected" name="Rejected" />
                        <label class="form-check-label" for="Rejected">Rejected</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Retracted" name="Retracted" />
                        <label class="form-check-label" for="Retracted">Retracted</label>
                    </div>
                </div>
            </div>
        </form>
        <hr class="border">
        <div class="pb-2 col col-md-4">
            <input class="form-control form-control-sm" id="xep-search-input" type="text" placeholder="Search..." aria-label="Search">
        </div>
    </div>
    <table class="sortable w-100" id="xeplist">
        <thead>
            <tr class="xepheader">
                <th>Number</th>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Date</th>
                <th>Implementations</th>
            </tr>
        </thead>
        <tbody>
            {{- if .Site.Data.xeplist -}}
                {{- range sort .Site.Data.xeplist ".number" -}}
                {{- $number_str := printf "%04g" .number -}}
                <tr class="XEP-{{- .status -}}" id="xep{{- $number_str -}}" data-shortname="{{- .shortname -}}">
                    <td><a href="/extensions/xep-{{- $number_str -}}.html">XEP-{{- $number_str -}}</a></td>
                    <td>{{- .title -}}</td>
                    <td>{{- .type -}}</td>
                    <td>{{- .status -}}</td>
                    <td>{{- .last_updated -}}</td>
                    <td class="text-center p-0">
                        {{- if or (eq .type "Standards Track") (eq .type "Historical") (eq .type "Informational") -}}
                            <button type="button" class="btn btn-sm btn-outline-secondary" name="show-xep-implementations" data-xep="{{- $number_str -}}" role="button">
                                <i class="fa-solid fa-code fa-xs"></i>
                            </button>
                        {{- end -}}
                    </td>
                </tr>
                {{- end -}}
            {{- end -}}
        </tbody>
    </table>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="implementations-offcanvas" aria-labelledby="implementations-offcanvas-label">
    <div class="offcanvas-header">
        <h5 id="implementations-heading" class="offcanvas-title" id="implementations-offcanvas-label"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <table id="implementations-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th title="Implementation Status" data-bs-toggle="tooltip">Status</th>
                    <th title="Implemented Version" data-bs-toggle="tooltip">Version</th>
                </tr>
            </thead>
            <tbody>
                {{- range sort .Site.Data.xeplist ".number" -}}
                    {{- if or (eq .type "Standards Track") (eq .type "Historical") (eq .type "Informational") -}}
                        {{- $number_str := printf "%04g" .number -}}
                        {{- range .implementations -}}
                            <tr name="implementation-xep-{{- $number_str -}}" class="d-none">
                                <td>
                                    <a href="/software/{{- .package_name_slug -}}">
                                        {{- .package_name -}}
                                    </a>
                                </td>
                                <td>
                                    {{- if eq .implementation_status "complete" -}}
                                        <span class="badge text-bg-success opacity-50" title="{{- .implementation_status | title -}}" data-bs-toggle="tooltip"><i class="fa-solid fa-check text-reset"></i></span>
                                    {{- else if eq .implementation_status "partial" -}}
                                        <span class="badge text-bg-warning opacity-50" title="{{- .implementation_status | title -}}" data-bs-toggle="tooltip"><i class="fa-solid fa-check text-reset"></i></span>
                                    {{- else if eq .implementation_status "planned" -}}
                                        <span class="badge text-bg-primary opacity-50" title="{{- .implementation_status | title -}}" data-bs-toggle="tooltip"><i class="fa-solid fa-plus text-reset"></i></span>
                                    {{- else if or (eq .implementation_status "wontfix") (eq .implementation_status "removed") (eq .implementation_status "deprecated") -}}
                                        <span class="badge text-bg-secondary opacity-50" title="{{- .implementation_status | title -}}" data-bs-toggle="tooltip"><i class="fa-regular fa-circle-xmark text-reset"></i></span>
                                    {{- end -}}
                                </td>
                                <td>{{- .implemented_version -}}</td>
                            </tr>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            </tbody>
        </table>
    </div>
  </div>
