{{- $teams := .Site.Data.members.teams -}}
{{- $members := .Site.Data.members.members -}}
{{- $emeriti := .Site.Data.members.emeriti -}}

<ul>
{{- range sort $members ".name" -}}
    <li>
        {{- .name -}}
        {{- if .roles -}}
            &nbsp;(
            {{- range $i, $role := .roles -}}
                {{- $teams := index $teams . -}}
                {{- with $teams -}}
                    {{- if $i -}},&nbsp;{{- end -}}
                    {{- if .page -}}
                        <a href="{{- .page -}}">{{- .list_name | title -}}</a>
                    {{- else -}}
                        {{- .list_name -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
            )
        {{- end -}}
    </li>
{{- end -}}
</ul>
<p>In addition, the following individuals are emeritus members of the XMPP Standards Foundation:</p>
<ul>
    {{- range sort $emeriti ".name" -}}
        <li>
            {{- .name -}}
            {{- if .roles -}}
                &nbsp;(
                {{- range $i, $role := .roles -}}
                    {{- $teams := index $teams . -}}
                    {{- with $teams -}}
                        {{- if $i -}},&nbsp;{{- end -}}
                        {{- if .page -}}
                            <a href="{{- .page -}}">{{- .list_name | title -}}</a>
                        {{- else -}}
                            {{- .list_name -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
                )
            {{- end -}}
        </li>
    {{- end -}}
</ul>
