<div class="row justify-content-center pb-2">
      <div class="col-sm-6 bg-light rounded border p-3">
            <h5>Subscribe to the monthly XMPP newsletter</h5>
            <form action="https://mail.jabber.org/mailman/subscribe/newsletter" method="POST">
                  <div class="mb-3">
                        <label for="email-input" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="email-input" placeholder="Enter your email address…">
                  </div>
                  <button type="submit" class="btn btn-primary" name="email-button">Subscribe</button>
            </form>
      </div>
</div>