<h3>Basic XMPP RFCs</h3>
<ul>
{{- if .Site.Data.rfc_list -}}
    {{- range sort .Site.Data.rfc_list ".number" -}}
        {{- if .basic -}}
            <li><a href="#{{- .number -}}">RFC&nbsp;{{- .number -}}:</a>&nbsp;{{- .title -}}</li>
        {{- end -}}
    {{- end -}}
{{- end -}}
</ul>
<h3>Further XMPP RFCs</h3>
<ul>
{{- if .Site.Data.rfc_list -}}
    {{- range sort .Site.Data.rfc_list ".number" -}}
        {{- if and (not .basic) (not .obsoleted_by) -}}
            <li><a href="#{{- .number -}}">RFC&nbsp;{{- .number -}}:</a>&nbsp;{{- .title -}}</li>
        {{- end -}}
    {{- end -}}
{{- end -}}
</ul>
<h3>Obsoleted</h3>
<ul>
{{- if .Site.Data.rfc_list -}}
    {{- range sort .Site.Data.rfc_list ".number" -}}
        {{- if .obsoleted_by -}}
            <li><a href="#{{- .number -}}">RFC&nbsp;{{- .number -}}:</a>&nbsp;{{- .title -}}</li>
        {{- end -}}
    {{- end -}}
{{- end -}}
</ul>
<h3>All XMPP RFCs</h3>
{{- if .Site.Data.rfc_list -}}
    {{- range sort .Site.Data.rfc_list ".number" -}}
    <div class="card">
        <div class="card-header">
            <a id="{{- .number -}}"><h5 class="card-title">RFC&nbsp;{{- .number -}}:&nbsp;{{- .title -}}</h5></a>
            <p class="card-subtitle text-body-secondary"><small>{{- .authors -}}&nbsp;({{- .date -}})</small></p>
        </div>
        <div class="card-body">
            <p class="card-text">{{- .abstract -}}</p>
            {{- if .obsoletes -}}
                <p><small>This RFC obsoletes&nbsp;<a href="#{{- .obsoletes -}}">RFC&nbsp;{{- .obsoletes -}}.</a></small></p>
            {{- end -}}
            {{- if .obsoleted_by -}}
                <p><small>This RFC is obsoleted by&nbsp;<a href="#{{- .obsoleted_by -}}">RFC&nbsp;{{- .obsoleted_by -}}.</a></small></p>
            {{- end -}}
            {{- if .selfhosted -}}
                <div>
                    <a class="btn btn-outline-secondary btn-sm mb-1" role="button" href="https://datatracker.ietf.org/doc/rfc{{- .number -}}" title="RFC {{ .number }} at datatracker.ietf.org" target="_blank" data-bs-toggle="tooltip"><i class="fa-solid fa-external-link-alt"></i> RFC {{ .number }}</a>
                    <p class="mb-1"><small>The XSF hosts this document:</small></p>
                    <a class="btn btn-outline-secondary btn-sm" role="button" href="/rfcs/rfc{{- .number -}}.html" title="RFC {{ .number }} - HTML" target="_blank" data-bs-toggle="tooltip"><i class="far fa-file-alt"></i> HTML</a>
                    <a class="btn btn-outline-secondary btn-sm" role="button" href="/rfcs/rfc{{- .number -}}.txt" title="RFC {{ .number }} - TXT file" target="_blank" data-bs-toggle="tooltip"><i class="far fa-file"></i> TXT File</a>
                    <a class="btn btn-outline-secondary btn-sm" role="button" href="/rfcs/rfc{{- .number -}}.xml" title="RFC {{ .number }} - XML source" target="_blank" data-bs-toggle="tooltip"><i class="far fa-file-code"></i> XML Source</a>
                </div>
            {{- else -}}
                <div>
                    <a class="btn btn-outline-secondary btn-sm" role="button" href="https://datatracker.ietf.org/doc/rfc{{- .number}}" title="RFC {{ .number }} at datatracker.ietf.org" target="_blank" data-bs-toggle="tooltip"><i class="fa-solid fa-external-link-alt"></i> RFC {{ .number }}</a>
                </div>
            {{- end -}}
        </div>
    </div>
    <br>
    {{- end -}}
{{- end -}}
