{{ $package_data := newScratch }}

{{ if in .Page.Title "XMPP Clients" }}
    {{ $package_data.Set "packages" .Site.Data.clients_list_doap }}
    {{ $package_data.Set "platforms" (slice "Android" "iOS" "Browser" "Windows" "macOS" "Linux" "Other") }}
{{ else if in .Page.Title "XMPP Servers" }}
    {{ $package_data.Set "packages" .Site.Data.servers_list_doap }}
    {{ $package_data.Set "platforms" (slice "Windows" "macOS" "Linux" "Other") }}
{{ else }}
    {{ $package_data.Set "packages" .Site.Data.libraries_list_doap }}
    {{ $package_data.Set "platforms" (slice "Other") }}
{{ end }}

<div>
    <ul class="nav nav-pills nav-fill pb-3" id="pills-tab" role="tablist">
        {{ range $package_data.Get "platforms" }}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="{{ lower . | anchorize }}-tab" data-bs-toggle="pill" data-bs-target="#pane-{{ lower . | anchorize }}" type="button" role="tab" aria-controls="pane-{{ lower . | anchorize }}" aria-selected={{ if eq . "Other" }}"true"{{ else }}"false"{{ end }}>
                {{ if eq (lower .) "android" }}
                    <i class="fab fa-android"></i>
                {{ else if eq (lower .) "ios" }}
                    <i class="fab fa-app-store-ios"></i>
                {{ else if eq (lower .) "browser" }}
                    <i class="fas fa-window-maximize"></i>
                {{ else if eq (lower .) "windows" }}
                    <i class="fab fa-windows"></i>
                {{ else if eq (lower .) "macos" }}
                    <i class="fab fa-apple"></i>
                {{ else if eq (lower .) "linux" }}
                    <i class="fab fa-linux"></i>
                {{ else if eq (lower .) "other" }}
                    <i class="fas fa-box"></i>
                {{ end }}
                {{ . }}
            </button>
        </li>
        {{ end }}
    </ul>

    <div class="tab-content" id="pills-software-content">
        {{ range $package_data.Get "platforms" }}
            {{ $platform := . }}
            <div class="tab-pane {{ if eq (lower .) "other" }}show active{{ end }}" id="pane-{{ . | anchorize }}" role="tabpanel" aria-labelledby="{{ . | anchorize }}-tab">
                <h2 class="text-center pb-1">{{ $platform }}</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {{ range $supported_platform, $packages := $package_data.Get "packages" }}
                        {{ if eq (lower $supported_platform) (lower $platform) }}
                            {{ range $packages }}
                                <div class="col">
                                    <div class="card h-100">
                                        <div class="row g-0">
                                            <div class="col-md-3 text-center py-3">
                                                {{ if .logo }}
                                                    <img src="{{ .logo }}" class="py-1 ps-3 software-logo">
                                                {{ else }}
                                                    <i class="fas fa-3x fa-cube py-1 software-logo-default"></i>
                                                {{ end }}
                                            </div>
                                            <div class="col-md-9">
                                                <div class="card-body">
                                                    <a href="{{ .url }}" target="_blank">
                                                        <h4 class="card-title">{{ .name }}</h4>
                                                    </a>
                                                    <p class="card-text small">{{ .shortdesc }}</p>
                                                    {{ if eq $platform "Other" }}
                                                        <p class="card-text small mb-0">
                                                            Platforms:
                                                            <ul>
                                                                {{ range .platforms }}
                                                                    <li class="small">
                                                                        {{ . }}
                                                                    </li>
                                                                {{ end }}
                                                            </ul>
                                                        </p>
                                                    {{ else }}
                                                        {{ if ne (lower $platform) (lower .platforms) }}
                                                            <p class="small">Platform: {{ .platforms }}</p>
                                                        {{ end }}
                                                    {{ end }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </div>
</div>
