{{- $name_slug := .Get "name_slug" -}}
{{- $package_type := .Get "package_type" -}}

{{- range $name, $props := .Site.Data.software_list_doap -}}
    {{- if eq $props.name_slug $name_slug -}}
        <div class="pt-2 pb-5 my-2">
            <div class="col-lg-12 mx-auto text-center">
            {{- if $props.logo -}}
                <img src="{{- $props.logo -}}" class="d-block mx-auto mb-4 software-logo">
            {{- else -}}
                <i class="fas fa-5x fa-cube py-1 software-logo-default"></i>
            {{- end -}}
            <h1 class="display-5 fw-bold">{{- $name -}}</h1>
            <p class="lead mb-2">{{- $props.shortdesc -}}</p>
            <div class="mb-4">
                {{- range $props.platforms -}}
                    <span class="badge rounded-pill bg-secondary">{{- . -}}</span>&nbsp;
                {{- end -}}
            </div>
            {{- if eq $package_type "libraries" -}}
                <div class="mb-4">
                    <span title="Programming Language" data-bs-toggle="tooltip"><i class="fa-solid fa-sm fa-code align-middle"></i>&nbsp;&nbsp;{{- delimit $props.programming_lang ", " -}}</span>
                </div>
            {{- end -}}
        </div>
        <div class="d-grid gap-2 d-sm-flex pb-4 justify-content-sm-center">
            <a class="btn btn-primary px-4" href="{{- $props.homepage -}}" target="_blank">Visit Website</a>
        </div>
        <div class="d-grid gap-2 d-sm-flex pb-4 justify-content-sm-center">
            {{- if $props.download_page -}}
                <a class="btn btn-outline-secondary btn-sm" role="button" href="{{- $props.download_page -}}" target="_blank"><i class="fa-solid fa-download"></i>&nbsp;Download</a>
            {{- end -}}
            {{- if $props.code_repository -}}
                <a class="btn btn-outline-secondary btn-sm" role="button" href="{{- $props.code_repository -}}" target="_blank"><i class="fa-solid fa-code"></i>&nbsp;Code Repository</a>
            {{- end -}}
            {{- if $props.support_forum -}}
                {{- $url := $props.support_forum -}}
                {{- if or (hasPrefix $url "xmpp:") (hasPrefix $url "https:") -}}
                    <a class="btn btn-outline-secondary btn-sm"
                       role="button"
                       href="{{- safeURL $props.support_forum -}}"
                       {{- if hasPrefix $url "https:" -}}target="_blank"{{- end -}}>
                       <i class="fa-regular fa-comments"></i>&nbsp;Support Chat
                    </a>
                {{- end -}}
            {{- end -}}
        </div>
        <div class="col-sm-8 col-lg-5 pb-5 mx-auto">
            <div class="card">
                <div class="card-header">
                    Features
                </div>
                <ul class="list-group list-group-flush compliance-data-list">
                    {{- if $props.badges -}}
                        {{- $categories := slice "" -}}
                        {{- range $category, $level := $props.badges -}}
                            {{- $categories = $categories | append  $category -}}
                        {{- end -}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fa-solid fa-fw fa-circle-check"></i>
                                <span class="px-2">Core Compliance</span>
                            </div>
                            <div>
                                {{- if in $categories "core" -}}
                                    {{- if eq $props.badges.core "core" -}}
                                        <span class="small text-body-secondary">{{- $props.badges.core | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check text-primary"></i>
                                    {{- else -}}
                                        <span class="small text-body-secondary">{{- $props.badges.core | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check-double text-primary"></i>
                                    {{- end -}}
                                {{- else -}}
                                    -
                                {{- end -}}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fa-solid fa-fw fa-comments"></i>
                                <span class="px-2">Instant Messaging</span>
                            </div>
                            <div>
                                {{- if in $categories "im" -}}
                                    {{- if eq $props.badges.im "core" -}}
                                        <span class="small text-body-secondary">{{- $props.badges.im | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check text-primary"></i>
                                    {{- else -}}
                                        <span class="small text-body-secondary">{{- $props.badges.im | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check-double text-primary"></i>
                                    {{- end -}}
                                {{- else -}}
                                    -
                                {{- end -}}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fa-solid fa-fw fa-mobile-screen"></i>
                                <span class="px-2">Mobile</span>
                            </div>
                            <div>
                                {{- if in $categories "mobile" -}}
                                    {{- if eq $props.badges.mobile "core" -}}
                                        <span class="small text-body-secondary">{{- $props.badges.mobile | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check text-primary"></i>
                                    {{- else -}}
                                        <span class="small text-body-secondary">{{- $props.badges.mobile | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check-double text-primary"></i>
                                    {{- end -}}
                                {{- else -}}
                                    -
                                {{- end -}}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fa-regular fa-fw fa-window-restore"></i>
                                <span class="px-2">Web</span>
                            </div>
                            <div>
                                {{- if in $categories "web" -}}
                                    {{- if eq $props.badges.web "core" -}}
                                        <span class="small text-body-secondary">{{- $props.badges.web | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check text-primary"></i>
                                    {{- else -}}
                                        <span class="small text-body-secondary">{{- $props.badges.web | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check-double text-primary"></i>
                                    {{- end -}}
                                {{- else -}}
                                    -
                                {{- end -}}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fa-solid fa-fw fa-phone"></i>
                                <span class="px-2">Audio/Video Calling</span>
                            </div>
                            <div>
                                {{- if in $categories "av" -}}
                                    {{- if eq $props.badges.av "core" -}}
                                        <span class="small text-body-secondary">{{- $props.badges.av | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check text-primary"></i>
                                    {{- else -}}
                                        <span class="small text-body-secondary">{{- $props.badges.av | title -}}</span>&nbsp;&nbsp;<i class="fa-solid fa-check-double text-primary"></i>
                                    {{- end -}}
                                {{- else -}}
                                    -
                                {{- end -}}
                            </div>
                        </li>
                    {{- else -}}
                        <li class="list-group-item d-flex justify-content-center align-items-center">
                            <span class="text-body-secondary small py-2">No compliance level</span>
                        </li>
                    {{- end -}}
                </ul>
                <div class="card-footer">
                    <small><a href="/about/compliance-suites/" class="card-link">Learn more…</a></small>
                </div>
            </div>
        </div>
    {{- end -}}
{{- end -}}
<div class="text-center pb-2">
    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#extensions-collapse" aria-expanded="false" aria-controls="extensions-collapse">
        Show Supported XEPs
    </button>
</div>
<div class="collapse" id="extensions-collapse">
    <h5 class="text-center py-2">Supported XMPP Extensions (XEPs)</h5>
    <iframe src="/doap/{{- $name_slug -}}.doap" class="software-details-xeps" id="doap-iframe"></iframe>
</div>
