{{ $package_type := .Get "package_type" }}

{{ $data := newScratch }}
{{ if eq $package_type "clients" }}
    {{ $data.Set "data" .Site.Data.clients }}
{{ else if eq $package_type "servers" }}
    {{ $data.Set "data" .Site.Data.servers }}
{{ else }}
    {{ $data.Set "data" .Site.Data.libraries }}
{{ end }}

<h4>Other {{ $package_type | title }}</h4>
<p>{{ $package_type | title }} without a <a href="https://xmpp.org/extensions/xep-0453.html">DOAP</a> file (Description of a Project) are listed here.</p>
<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#legacy-clients" aria-expanded="false" aria-controls="legacy-clients">
    Show List
</button>

<div class="collapse pt-3" id="legacy-clients">
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Platforms</th>
            </tr>
        </thead>
        <tbody>
            {{ range $data.Get "data" }}
                {{ if not .doap }}
                    <tr>
                        {{ if .url }}
                            <td><a href="{{ .url }}">{{ .name }}</a></td>
                        {{ else }}
                            <td>{{ .name }}</td>
                        {{ end }}
                        <td>{{ delimit .platforms " / " }}</td>
                    </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>
