<div class="alert alert-secondary" role="alert">
    <div class="d-flex flex-row">
        <div>
            <i class="fas fa-info-circle pe-2"></i>
        </div>
        <div>
            <span>
                The following table is sortable, just click on the headers (click twice to reverse the sort order).<br>
                You can show/hide the various types of XEPs by applying filters via the Filter button below.
            </span>
        </div>
    </div>
</div>
<div class="xeplist">
    <div class="mb-4">
        <div class="row pb-2">
            <div class="col-12 col-sm-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="xep_search_addon"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input class="form-control form-control-sm" id="xep-search-input" type="text" placeholder="Search by number, name, short name or tag…" aria-label="Search" aria-describedby="xep_search_addon">
                </div>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-secondary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filter_collapse" aria-expanded="false" aria-controls="filter_collapse">
                    Filter XEPs <i class="fa-solid fa-angle-down"></i>
                </button>
            </div>
        </div>

        <div class="collapse border rounded shadow-sm p-3 mb-2" id="filter_collapse">
            <h4>Filter XEPs</h4>
            <span class="text-body-secondary small d-block mb-2">Only checked types will be shown</span>
            <div id="status-selector">
                <div class="d-flex flex-wrap pb-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Proposed" name="Proposed" checked="checked" />
                        <label class="form-check-label" for="Proposed">Proposed</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Stable" name="Stable" checked="checked" />
                        <label class="form-check-label" for="Stable">Stable</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Final" name="Final" checked="checked" />
                        <label class="form-check-label" for="Final">Final</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Active" name="Active" checked="checked" />
                        <label class="form-check-label" for="Active">Active</label>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Deprecated" name="Deprecated" />
                        <label class="form-check-label" for="Deprecated">Deprecated</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Obsolete" name="Obsolete" />
                        <label class="form-check-label" for="Obsolete">Obsolete</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Rejected" name="Rejected" />
                        <label class="form-check-label" for="Rejected">Rejected</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Retracted" name="Retracted" />
                        <label class="form-check-label" for="Retracted">Retracted</label>
                    </div>
                </div>
                <hr class="border">
                <div class="d-flex flex-wrap">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Experimental" name="Experimental"
                            checked="checked" />
                        <label class="form-check-label" for="Experimental">Experimental</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Deferred" name="Deferred" checked="checked" />
                        <label class="form-check-label" for="Deferred">Deferred</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="Dormant" name="Dormant" />
                        <label class="form-check-label" for="Dormant">Dormant <i class="fa-regular fa-circle-question text-muted" data-bs-toggle="tooltip" title="XEPs without implementations become dormant after 12 months of inactivity"></i></label>
                    </div>
                </div>
                <div id="dormant_xeps_filter_warning" class="d-flex align-items-center mt-2 text-muted small">
                    <i class="fa-solid fa-triangle-exclamation me-2"></i>
                    <span>Dormant XEPs in Experimental/Deferred are hidden. Check Dormant to show all Experimental/Deferred XEPs.</span>
                </div>
            </div>
        </div>
        <span id="xep-filter-results-count" class="d-block text-muted small"></span>
    </div>
    <div class="table-responsive">
        <table class="sortable w-100" id="xeplist">
            <thead>
                <tr class="xepheader">
                    <th>Number</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Tags</th>
                    <th>Implemen<br>tations</th>
                </tr>
            </thead>
            <tbody>
                {{- if .Site.Data.xeplist -}}
                    {{- $xeplist := .Site.Data.xeplist -}}
                    {{- range sort .Site.Data.xeplist ".number" -}}
                        {{- $number_str := printf "%04g" .number -}}
                        {{ $last_revision_date := .last_revision_date | time }}
                        {{ $last_revision_date_diff := now.Sub $last_revision_date }}
                        {{ $days_since_last_modification := math.Round (div $last_revision_date_diff.Hours 24) }}
                        {{ $xep_dormant := false }}
                        {{- if and (eq .type "Standards Track") (or (eq .status "Experimental") (eq .status "Deferred")) (gt ($days_since_last_modification) 365) (eq (len .implementations) 0) -}}
                            {{ $xep_dormant = true }}
                        {{- end -}}

                        <tr class="XEP-{{ .status }} {{ if $xep_dormant }} XEP-Dormant{{ end }}" id="xep{{- $number_str -}}" data-shortname="{{- .shortname -}}">
                            <td><a href="/extensions/xep-{{- $number_str -}}.html">XEP-{{- $number_str -}}</a></td>
                            <td>
                                <span>{{- .title -}}</span>{{- if .shortname -}}<span class="ms-1 text-muted small">[{{- .shortname -}}]</span>{{- end -}}
                                {{- if .supersededby -}}
                                    <br>
                                    <span class="text-muted small">Superseded by:&nbsp;</span>
                                    <span class="text-muted small">
                                        {{- range $index, $content := .supersededby -}}
                                            {{- if $index -}}
                                                ,&nbsp;
                                            {{- end -}}
                                            {{- if hasPrefix (. | lower) "xep-" -}}
                                                {{- $xep_number := trim (. | lower) "xep-" -}}
                                                {{- $trimmed_xep_number := int (trim (. | lower) "xep-" | replaceRE "^0+" "") -}}
                                                {{- $spec := . -}}
                                                {{- range $xeplist -}}
                                                    {{- if eq (int .number) $trimmed_xep_number -}}
                                                        <a href="#xep{{- $xep_number -}}">{{- print ($spec | upper) ": " .title -}}</a>
                                                    {{- end -}}
                                                {{- end -}}
                                            {{- else if hasPrefix (. | lower) "rfc" -}}
                                                <a href="https://datatracker.ietf.org/doc/{{- replaceRE "(\\s)" "" . | lower -}}/" target="_blank">{{ print "RFC " (index (findRE `\d{4}` . 1) 0) }}&nbsp;<i class="fas fa-external-link-alt"></i></a>
                                            {{- else -}}
                                                <span>{{- . -}}</span>
                                            {{- end -}}
                                        {{- end -}}
                                    </span>
                                {{- end -}}
                            </td>
                            <td class="text-nowrap">{{- .type -}}</td>
                            <td class="text-nowrap">{{- .status -}}</td>
                            <td class="text-nowrap">{{- .last_revision_date -}}</td>
                            <td>
                                {{- range .tags -}}
                                    <span class="badge rounded-pill text-bg-secondary mx-1">{{- . -}}</span>
                                {{- end -}}
                            </td>
                            <td class="text-end pe-3 py-0">
                                <div class="d-flex align-items-center justify-content-end">
                                {{- if and (eq .type "Standards Track") (or (eq .status "Experimental") (eq .status "Deferred")) -}}
                                    {{- if and (gt ($days_since_last_modification) 365) (eq (len .implementations) 0) -}}
                                        <!-- This XEP has no recent activity and no implementations -> dormant -->
                                        <i class="fa-regular fa-moon text-muted me-2" data-bs-toggle="tooltip" title="Dormant: This XEP has been inactive for more than 12 months and there are no known implementations yet"></i>
                                    {{- end -}}
                                    {{- if and (gt ($days_since_last_modification) 365) (gt (len .implementations) 0) -}}
                                        <!-- This XEP has no recent activity, but implementations -> needs advancement -->
                                        <i class="fa-regular fa-clock text-muted me-2" data-bs-toggle="tooltip" title="Needs advancement: This XEP has been inactive for more than 12 months, but there are known implementations"></i>
                                    {{- end -}}
                                    {{- if and (lt ($days_since_last_modification) 365) (gt (len .implementations) 0) -}}
                                        <!-- This XEP has recent activity and implementations -> needs advancement and implementations -->
                                        <i class="fa-solid fa-rocket text-muted me-2" data-bs-toggle="tooltip" title="Needs advancement and implementations: This XEP has been actively developed in the past 12 months and there are known implementations"></i>
                                    {{- end -}}
                                    {{- if and (lt ($days_since_last_modification) 365) (eq (len .implementations) 0) -}}
                                        <!-- This XEP has recent activity, but no implementations -> needs implementations -->
                                        <i class="fa-solid fa-ruler-combined text-muted me-2" data-bs-toggle="tooltip" title="Needs implementations: This XEP has been actively developed in the past 12 months, but there are no known implementations yet"></i>
                                    {{- end -}}
                                {{- end -}}

                                {{- if or (eq .type "Standards Track") (eq .type "Historical") (eq .type "Informational") -}}
                                    <button type="button" class="btn btn-sm btn-outline-secondary" name="show-xep-implementations" data-xep="{{- $number_str -}}" role="button"
                                    {{- if eq (len .implementations) 0 -}}
                                    disabled
                                    {{- end -}}
                                    >
                                        {{- len .implementations -}}
                                    </button>
                                {{- end -}}
                                </div>
                            </td>
                        </tr>
                    {{- end -}}
                {{- end -}}
            </tbody>
        </table>
    </div>
</div>
<div class="offcanvas offcanvas-end extensions-offcanvas" tabindex="-1" id="implementations-offcanvas" aria-labelledby="implementations-offcanvas-label">
    <div class="offcanvas-header align-items-start pb-0">
        <a id="implementations-heading" class="offcanvas-title text-reset fw-bold fs-5" id="implementations-offcanvas-label"></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-1">
        <span id="implementations-description" class="d-block small mb-3 text-muted"></span>
        <table id="implementations-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th title="Software implementation status of this XEP" data-bs-toggle="tooltip">Status</th>
                    <th title="Software implemented this XEP since software version" data-bs-toggle="tooltip">Since Version</th>
                    <th title="Implemented XEP version" data-bs-toggle="tooltip">XEP Version</th>
                </tr>
            </thead>
            <tbody id="implementations-table-body"></tbody>
        </table>
    </div>
  </div>
