<div class="row pt-3 pb-4 justify-content-center">
    <div class="col-11 col-md-8 mx-auto">
        <span>The core specifications for XMPP are developed at the <a href="https://ietf.org/" target="_blank">Internet Engineering Task Force
            (IETF)</a>. The XSF develops extensions to XMPP through a lightweight standards process centered around <a
            href="#the-whole-list">XMPP
            Extension Protocols (XEPs)</a>.
        </span>
    </div>
</div>

<div class="row pt-3 pb-4 justify-content-center extensions-logos">
    <div class="col-11 col-md-6 mx-auto p-3 text-center shadow-sm bg-body-secondary rounded">
        <img src="/images/logos/xmpp/xmpp_logo.svg" alt="XMPP Logo" class="pe-2">
        <img src="/images/logos/ietf-logo.svg" alt="IETF Logo" class="ps-2 py-2">
    </div>
</div>
<div class="row pb-4 justify-content-center">
    <div class="col-12 col-md-6 mx-auto">
        <h2 class="text-center">XMPP RFCs</h2>
        <ul class="extensions-block-listing">
            <li><a href="/rfcs#6120">RFC 6120</a> XMPP Core</li>
            <li><a href="/rfcs#6121">RFC 6121</a> XMPP IM</li>
            <li><a href="/rfcs#7622">RFC 7622</a> XMPP Address Format</li>
            <li><a href="/rfcs#7590">RFC 7590</a> Use of TLS in XMPP</li>
            <li><a href="/rfcs#7395">RFC 7395</a> XMPP over WebSockets</li>
        </ul>
        <div class="d-grid col-8 mx-auto">
            <a class="btn btn-secondary" href="/rfcs">All XMPP RFCs</a>
        </div>
    </div>
</div>