{{- $teams := .Site.Data.members.teams -}}
{{- $members := .Site.Data.members.members -}}
{{- $emeriti := .Site.Data.members.emeriti -}}

<div class="row gy-2 pb-2">
    <div class="col">
        <div class="card border-secondary">
            <div class="card-header text-bg-secondary">
                Council
            </div>
            <ul class="list-group list-group-flush">
                {{ range sort $members ".name" }}
                    {{ if in .roles "council" }}
                        {{ partial "xsf-diagram-entry" (dict "name" .name "email" .email "jids" .jids "roles" .roles) }}
                    {{ end }}
                {{ end }}
            </ul>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="#council">Read more…</a></small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-secondary">
            <div class="card-header text-bg-secondary">
                Board of Directors
            </div>
            <ul class="list-group list-group-flush">
                {{ range sort $members ".name" }}
                    {{ if in .roles "board" }}
                        {{ partial "xsf-diagram-entry" (dict "name" .name "email" .email "jids" .jids "roles" .roles) }}
                    {{ end }}
                {{ end }}
            </ul>
            <div class="card-footer">
                <small class="text-body-secondary"><a href="#board">Read more…</a></small>
            </div>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col">
        <div class="card border-secondary">
            <div class="card-header text-bg-secondary">
                XSF Officers
            </div>
            <ul class="list-group list-group-flush">
                {{ range sort $members ".name" }}
                    {{ if or (in .roles "chair") (in .roles "ed") (in .roles "secretary") (in .roles "treasurer")  }}
                        {{ partial "xsf-diagram-entry" (dict "name" .name "email" .email "jids" .jids "roles" .roles) }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</div>
<div class="row pb-3">
    <div class="col">
        <div class="card border-secondary">
            <div class="card-header text-bg-secondary">
                Members
            </div>
            <div class="card-body small">
                At the moment, the XSF has <a href="/about/xsf/members">{{ len $members }} members and {{ len $emeriti }} emeriti</a>.
                If you have an interest in XMPP standards, it is straightforward to <a href="/community/membership">become a member of the XSF</a>.<br>
                <hr>
                <h4 class="text-center">Teams</h4>
                <div class="row row-cols-sm-2 row-cols-1 g-4 py-3">
                    <div class="col">
                        <div class="card border-secondary">
                            <div class="card-header">
                                Editor team
                            </div>
                            <ul class="list-group list-group-flush">
                                {{ range sort $members ".name" }}
                                    {{ if in .roles "editor" }}
                                        <li class="list-group-item small">
                                            {{ .name }}
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            <div class="card-footer">
                                <small class="text-body-secondary"><a href="/about/xsf/editor-team">Read more…</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary">
                            <div class="card-header">
                                Infrastructure team
                            </div>
                            <ul class="list-group list-group-flush">
                                {{ range sort $members ".name" }}
                                    {{ if in .roles "infrastructure" }}
                                        <li class="list-group-item small">
                                            {{ .name }}
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            <div class="card-footer">
                                <small class="text-body-secondary"><a href="/about/xsf/infrastructure-team">Read more…</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary">
                            <div class="card-header">
                                Communication team
                            </div>
                            <ul class="list-group list-group-flush">
                                {{ range sort $members ".name" }}
                                    {{ if in .roles "commteam" }}
                                        <li class="list-group-item small">
                                            {{ .name }}
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            <div class="card-footer">
                                <small class="text-body-secondary"><a href="/about/xsf/comm-team">Read more…</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary">
                            <div class="card-header">
                                Summits, Conferences, and Meetups team (SCAM)
                            </div>
                            <ul class="list-group list-group-flush">
                                {{ range sort $members ".name" }}
                                    {{ if in .roles "scam" }}
                                        <li class="list-group-item small">
                                            {{ .name }}
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                            <div class="card-footer">
                                <small class="text-body-secondary"><a href="/about/xsf/scam-team">Read more…</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
