{% extends "base.html" %}
{% set active_page = "blog" %}
{% set active_page_url = "posts/blog/index.html" %}
{% set active_page_title = "The XMPP Blog" %}
{% set content_layout = "single-column" %}

{% block content %}
  <h1>{{ article.title }}</h1>
  {{ article.content }}
  <h6>
    Posted by
    {% if article.authors %}
    {% for author in article.authors %}
    <a href="{{ SITE_URL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    {% else %}
    <a href="{{ SITE_URL }}/{{ article.author.url }}">{{ article.author }}</a>
    {% endif %}
    on
    <a href="#">{{ article.date|strftime('%B, %d, %Y') }}</a>
    - filed under
    <a href="{{ SITE_URL }}/{{ article.category.url }}">{{ article.category }}</a>
  </h6>
{% endblock %}
