<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <title>XMPP | {{ active_page_title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ SITE_URL }}/theme/images/xmpp-logo.png" />
  <link rel="stylesheet" href="{{ SITE_URL }}/theme/css/app.css" type="text/css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Exo+2:700,400|Merriweather:300italic,300,700" type="text/css" />
  
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/manifest.json">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  {% if active_page_is_blog|default("false") == "true" %}<link rel="alternate" href="/feeds/all.atom.xml" type="application/atom+xml" name="Blog feed" />{% endif %}
  {% block head %}
  {% endblock %}
</head>
<body class="{{ active_page }}" style="overflow-y: scroll;">
  {% include 'top_menu.html' %}

  {% if content_layout != "wide" %}
  <header class="header-internal">
    <h1>
      <a href="{{ SITE_URL}}/{{ active_page_url }}">
        {{ active_page_title }}
      </a>
    </h1>
  </header>
  {% endif %}
  {% if active_page_is_blog|default("false") == "true" %}
    <div class="page-content row">
      <div class="large-8 medium-8 columns">
        {% block blog_entries %}
        {% endblock %}
      </div>
      <div class="sidebar large-4 medium-4 columns">
        {% block blog_feeds %}
        {% endblock %}
        {% block blog_categories %}
        {% endblock %}
        {% block blog_archives %}
        {% endblock %}
      </div>
    </div>
  {% else %}
    {% if content_layout != "wide" %}
      <div class="page-content row">
      {% if content_layout == "multiple-columns" %}
        <div class="large-8 large-push-1 medium-8 medium-push-1 columns">
      {% endif %}
      {% if content_layout == "single-column" %}
        <div class="large-8 medium-8 large-centered medium-centered columns">
      {% endif %}
          <article>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% if content_layout !="wide" %}
          </article>
        </div>
      {% if content_layout == "multiple-columns" %}
        <div class="sidebar large-3 medium-3 columns">
          {% block related_content %}
          {% endblock %}
        </div>
      {% endif %}
      </div>
    {% endif %}
  {% endif %}

  {% include 'footer.html' %}

  <script src="/theme/js/jquery-3.5.0.slim.min.js"></script>
  <script src="/theme/js/foundation.js"></script>
  <script src="/theme/js/foundation.topbar.js"></script>
  <script>
    $(document).foundation();
  </script>

</body>
</html>
