{% extends "base.html" %}
{% block head %}
<style type="text/css">
  div#content {
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .jsSupport {
    display: none;
  }
</style>
<script src="/scripts/sorttable.js" type="text/javascript"></script>
<script src="/js/extensions-table.js" type="text/javascript"></script>
{% endblock %}

{% set active_page_url = page.url|replace(" ", "") %}
{% set active_page = page.parent_id|default(active_page_url) %}
{% set active_page_title = page.title %}
{% set active_page_is_blog = page.is_blog %}
{% set content_layout = page.content_layout|default("single-column") %}

{% block content %}
<div id="content">
  {{ page.content }}

<form action="#">
  <p id="status-selector" class="jsSupport">
    <input type="checkbox" id="Active" name="Active" checked="checked" /><label for="Active">Active</label>
    <input type="checkbox" id="Deferred" name="Deferred" /><label for="Deferred">Deferred</label>
    <input type="checkbox" id="Deprecated" name="Deprecated" /><label for="Deprecated">Deprecated</label>
    <input type="checkbox" id="Draft" name="Draft" checked="checked" /><label for="Draft">Draft</label>
    <input type="checkbox" id="Experimental" name="Experimental" checked="checked" /><label for="Experimental">Experimental</label>
    <input type="checkbox" id="Final" name="Final" checked="checked" /><label for="Final">Final</label>
    <input type="checkbox" id="Obsolete" name="Obsolete" /><label for="Obsolete">Obsolete</label>
    <input type="checkbox" id="Proposed" name="Proposed" checked="checked" /><label for="Proposed">Proposed</label>
    <input type="checkbox" id="Rejected" name="Rejected" /><label for="Rejected">Rejected</label>
    <input type="checkbox" id="Retracted" name="Retracted" /><label for="Retracted">Retracted</label>
  </p>
</form>

<table class="sortable" id="xeplist">
  <thead>
    <tr class="xepheader">
      <th>Number</th>
      <th>Name</th>
      <th>Type</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
{% for xep in XEPS | sort(attribute="number") %}
{% set number_str = "%04d" | format(xep.number) %}
    <tr class="XEP-{{ xep.status }}" id="xep{{ number_str }}">
      <td><a href="/extensions/xep-{{ number_str }}.html">XEP-{{ number_str }}</a></td>
      <td>{{ xep.title }}</td>
      <td>{{ xep.type }}</td>
      <td>{{ xep.status }}</td>
      <td>{{ xep.last_updated }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

</div>
{% endblock %}

{% block related_content %}
  {% if page.sidebar_menu_show|default(boolean=True) %}
  {%   set links = [] %}
  {%   set menu_title = [] %}
  {%   if page.sidebar_menu_title and menu_title.append(page.sidebar_menu_title) %}{% endif %}
  {%   set parts = page.url.split("/") %}
  {%   set depth = parts|length if page.inherit_sidebar|default(boolean=True) else 1 %}
  {%   for i in range(0, depth) %}
  {%      set P_URL = parts|join("/") %}
  {%      for parent in PAGES|selectattr("url", "equalto", P_URL) %}
  {%         if parent.sidebar_menu_size|default(false) %}
  {%            if menu_title.append(parent.sidebar_menu_title) %}{% endif %}
  {%            set size = parent.sidebar_menu_size|int %}
  {%            for i in range(1, size + 1) %}
  {%               set E_URL = parent|attr('sidebar_menu_elem_url_'~(i|string)) %}
  {%               set E_NAME = parent|attr('sidebar_menu_elem_name_'~(i|string)) %}
  {%               if E_URL[-1] != '/' %}
  {%                  set E_URL = E_URL + ".html" %}
  {%               endif %}
  {%               if links.append(( SITE_URL + "/" + E_URL, E_NAME )) %}{% endif %}
  {%            endfor %}
  {%         endif %}
  {%      endfor %}
  {%      set parts = parts[:-1] %}
  {%   endfor %}
  {%   set menu_title = menu_title[0] %}
       <h4>{{ menu_title }}</h4>
       <ul>
       {% for item in links %}
          <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
       {% endfor %}
       </ul>
  {% endif %}
{% endblock %}
