<div class="footer-sponsors">
  <h4>The <a href="/about/xmpp-standards-foundation.html">XSF</a> is generously sponsored by:</h4>
  <ul>
    <li><a href="/sponsors/coversant"><img src="/images/logos/coversant.png" alt="Coversant"></a></li>
    <li><a href="/sponsors/erlang-solutions"><img src="/images/logos/erlang-solutions.png" alt="Erlang Solutions"></a></li>
    <li><a href="/sponsors/eyeball-networks"><img src="/images/logos/eyeball-networks.png" alt="Eyeball Networks"></a></li>
    <li><a href="/sponsors/genesys-angel"><img src="/images/logos/genesys-angel.jpg" alt="Genesys | Angel"></a></li>
    <li><a href="/sponsors/kolon-benit"><img src="/images/logos/kolon-benit.png" alt="Kolon Benit"></a></li>
    <li><a href="/sponsors/processone"><img src="/images/logos/process-one.png" alt="ProcessOne"></a></li>
    <li><a href="/sponsors/us-secure-hosting-center"><img src="/images/logos/usshc.png" alt="US Secure Hosting Center"></a></li>
    <li><a href="/sponsors/voxeo"><img src="/images/logos/voxeo.gif" alt="Voxeo"></a></li>
  </ul>
</div>
<div class="footer-github">
  <p><a href="//github.com/xsf/xmpp.org"><img src="/theme/images/github.svg"></a>This site is organized in the open on GitHub. <a href="//github.com/xsf/xmpp.org">Suggest changes</a>.</p>
  <p>The xmpp.org domain was generously donated by <a href="opendomain.org">OpenDomain.org</a>.</p>
</div>
<footer class="top-bar">
  <section class="top-bar-section">
    <ul class="left">
      <li>
        <a href="{{ SITE_URL }}/">
          Home
        </a>
      </li>
      {% for page in PAGES|sort(attribute='footer_order') if page.footer_show|default("false") == "left" %}
      <li>
        <a href="{{ SITE_URL }}/{{ page.url }}">
          {{ page.menu_name|default(page.title) }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <ul class="right">
      <li>
        <a href="{{ SITE_URL }}/blog.html">
          XMPP Blog
        </a>
      </li>
      {% for page in PAGES|sort(attribute='footer_order') if page.footer_show|default("false") == "right" %}
      <li>
        <a href="{{ SITE_URL }}/{{ page.url }}">
          {{ page.menu_name|default(page.title) }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</footer>
