<footer class="top-bar">
  <section class="top-bar-section">
    <ul class="left">
      <li>
        <a href="{{ SITE_URL }}/">
          Home
        </a>
      </li>
      {% for page in PAGES|sort(attribute='footer_order') if page.footer_show|default("false") == "left" %}
      <li>
        <a href="{{ SITE_URL }}/{{ page.url }}">
          {{ page.menu_name|default(page.title) }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <ul class="right">
      <li>
        <a href="{{ SITE_URL }}/posts/blog/index.html">
          XMPP Blog
        </a>
      </li>
      {% for page in PAGES|sort(attribute='footer_order') if page.footer_show|default("false") == "right" %}
      <li>
        <a href="{{ SITE_URL }}/{{ page.url }}">
          {{ page.menu_name|default(page.title) }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</footer>
