{% extends "page.html" %}
{% macro memberrole(role_name, caller=None) -%}
{%- set role = MEMBERLIST["teams"][role_name] -%}
{%- set page = role.page | default(False) -%}
{%- if page -%}
<a href="{{ SITEURL }}{{ page }}">
{%- endif -%}
{{ role.list_name }}
{%- if page -%}
</a>
{%- endif -%}
{%- endmacro %}
{% macro memberitems(members, caller=None) %}
{% for member in members %}
<li>{{ member.name }}{% if member.roles | default(False) %} ({% for role in member.roles %}
  {%- if not loop.first %}, {% endif -%}
  {%- call memberrole(role) %}{% endcall -%}
  {%- endfor %}){% endif %}</li>
  {% endfor %}
{% endmacro %}
{% block content %}
{{ super() }}
<ul>
  {% call memberitems(MEMBERLIST["members"]) %}{% endcall %}
</ul>
<p>In addition, the following individuals are emeritus members of the XMPP Standards Foundation:</p>
<ul>
  {% call memberitems(MEMBERLIST["emeriti"]) %}{% endcall %}
</ul>
{% endblock %}
