{% extends "base.html" %}
{% set active_page_url = page.url|replace(" ", "") %}
{% set active_page = page.parent_id|default(active_page_url) %}
{% set active_page_title = page.title %}
{% set active_page_is_blog = page.is_blog %}
{% set content_layout = page.content_layout|default("single-column") %}

{% block content %}
  {{ page.content }}
{% endblock %}

{% block related_content %}
  {% if page.sidebar_menu_show|default("false") == "true" %}
  <h4>{{ page.sidebar_menu_title }}</h4>
  <ul>
    {% set size = page.sidebar_menu_size|int %}
    {% for i in range(1, size + 1) %}
    <li>
      {% set E_URL = page|attr('sidebar_menu_elem_url_'~(i|string)) %}
      {% set E_NAME = page|attr('sidebar_menu_elem_name_'~(i|string)) %}
      <a href="{{ SITE_URL }}/{{ E_URL }}">
        {{ E_NAME }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
