{% extends "base.html" %}
{% set active_page_url = page.url|replace(" ", "") %}
{% set active_page = page.parent_id|default(active_page_url) %}
{% set active_page_title = page.title %}
{% set active_page_is_blog = page.is_blog %}
{% set content_layout = page.content_layout|default("single-column") %}

{% block content %}
  {{ page.content }}
{% endblock %}

{% block related_content %}
  {% if page.sidebar_menu_show|default(boolean=True) %}
  {%   set links = [] %}
  {%   set menu_title = [] %}
  {%   if page.sidebar_menu_title and menu_title.append(page.sidebar_menu_title) %}{% endif %}
  {%   set P_URL = page.inherit_sidebar|default(page.url) %}
  {%   for sidebar_source in pages|selectattr("url", "equalto", P_URL) %}
  {%      if sidebar_source.sidebar_menu_size|default(false) %}
  {%         if menu_title.append(sidebar_source.sidebar_menu_title) %}{% endif %}
  {%         set size = sidebar_source.sidebar_menu_size|int %}
  {%         for i in range(1, size + 1) %}
  {%            set E_URL = sidebar_source|attr('sidebar_menu_elem_url_'~(i|string)) %}
  {%            set E_NAME = sidebar_source|attr('sidebar_menu_elem_name_'~(i|string)) %}
  {%            if E_URL[-1] != '/' %}
  {%               set E_URL = E_URL + ".html" %}
  {%            endif %}
  {%            if links.append(( SITE_URL + "/" + E_URL, E_NAME )) %}{% endif %}
  {%         endfor %}
  {%      endif %}
  {%   endfor %}
  {%   set menu_title = menu_title[0] %}
       <h4>{{ menu_title }}</h4>
       <ul>
       {% for item in links %}
          <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
       {% endfor %}
       </ul>
  {% endif %}
{% endblock %}
