{% extends "page.html" %}
{% block content %}
  {{ super() }}
  {% set data = SWLISTS[page.swlist_source] %}
  {% if data %}
    <table>
      <thead>
        <th>Project Name</th>
        <th>{{ page.swlist_platforms_column_head | default("Platforms") }}</th>
      </thead>
      <tbody>
        {% for item in data | sort(attribute='name') %}
          <tr>
            <td>{% if item.url %}
              <a href="{{ item.url }}">{{ item.name }}</a>
            {% else %}{{ item.name }}{% endif %}</td>
            <td>{{ item.platforms | join(" / ") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><strong>Ooops!</strong> Nothing to list here! This is most likely a bug!</p>
  {% endif %}
{% endblock %}
