<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="{{ SITE_URL }}/"><img src="/theme/images/xmpp-logo.svg" style="display: inline-block; margin: -3px 5px 0 0; width: 30px; "/>{{ SITENAME }}</a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      {% for page in PAGES|sort(attribute='top_menu_order') if page.top_menu_show|default("false") == "true" %}
      {% set classes = [] %}
      {% if active_page.split("/")[0]|replace(" ", "") == page.url|replace(" ", "") %}
      {%     set classes = classes + ["active",] %}
      {% endif %}
      {% if page.dropdown_menu_show|default("false") == "true" %}
      {%     set classes = classes + ["has-dropdown",] %}
      {% endif %}
      <li {% if classes|length() > 0 %}class="{{ classes|join(" ") }}"{% endif %}>
        <a href="{{ SITE_URL }}/{{ page.url }}">
          {{ page.menu_name|default(page.title) }}
        </a>

        {% if page.dropdown_menu_show|default("false") == "true" %}
        <ul class="dropdown">
          {% set size = page.dropdown_menu_size|int %}
          {% for i in range(1, size + 1) %}
          <li>
            {% set E_URL = page|attr('dropdown_menu_elem_url_'~(i|string)) %}
            {% set E_NAME = page|attr('dropdown_menu_elem_name_'~(i|string)) %}
            {% if E_URL[-1] != '/' %}
            {%     set E_URL = E_URL + ".html" %}
            {% endif %}
	    <a href="{{ SITE_URL }}/{{ page.url }}/{{ E_URL }}">
              {{ E_NAME }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      <li class="divider"></li>
      {% endfor %}
      <li
        {% if active_page == "blog" %}
        class="active"
        {% endif %}
       >
        <a href="{{ SITE_URL }}/blog.html">
          XMPP Blog
        </a>
      </li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
