article
  margin-bottom: 80px

  h1
    margin-bottom: 20px
    color: $dkblue 

  h6
    padding: 10px 0
    margin: 20px 0
    border-top: 1px solid #eee
    border-bottom: 1px solid #eee

  p, li
    font-size: 18px
    line-height: 1.8

  h2, h3
    color: $dkblue

.sidebar-blog
  padding-top: 130px

.blog article h1
  color: $green
  font-size: 2rem