footer.top-bar
  margin-top: 0px

.footer-sponsors
  margin: 80px auto
  text-align: center
  max-width: 800px

  ul
    -webkit-filter: grayscale(100%)
    filter: grayscale(100%)
    opacity: 0.7
    -webkit-transition: opacity 1.5s, -webkit-filter 1.5s
    -moz-transition: opacity 1.5s, -moz-filter 1.5s
    transition: opacity 1.5s, filter 1.5s, -webkit-filter 1.5s, moz-filter 1.5s

  li
    list-style: none
    display: inline-block
    margin: 10px

  &:hover ul
    opacity: 1
    -webkit-filter: grayscale(0%)
    filter: grayscale(0%)
    -webkit-transition: opacity 1.5s, -webkit-filter 1.5s
    -moz-transition: opacity 1.5s, -moz-filter 1.5s
    transition: opacity 1.5s, filter 1.5s, -webkit-filter 1.5s, moz-filter 1.5s

  img
    height: 50px

.footer-github
  border-top: 1px solid #eee
  padding: 8px 0
  text-align: center

  p
    margin-bottom: 0
    font-family: 'Exo 2', sans-serif

  img
    height: 25px
    display: inline
    margin-right: 10px
    position: relative
    top: -3px
