{{- define "main" -}}
{{- if .Site.Data.announcement.enabled -}}
<div class="alert alert-info mb-0 text-center" role="alert">
  <a href="{{- .Site.Data.announcement.url -}}" target="blank_" class="alert-link">
    <i class="fa-solid fa-xl fa-bullhorn"></i>&nbsp;&nbsp;&nbsp;{{- .Site.Data.announcement.text -}}
  </a>
</div>
{{- end -}}
<div class="header-home py-5 text-center">
    <div class="hero">
      <h1>{{- .Param "subtitle" -}}</h1>
      <h3>Tried and tested. Independent. Privacy-focused.</h3>
      <a type="button" class="btn btn-primary btn-lg px-4" href="/getting-started/">Join Us On XMPP</a>
      <a type="button" class="btn btn-secondary btn-lg m-2" href="/extensions/">Specifications</a>
    </div>
</div>
<div class="container px-4 pt-4 pb-5">
  <div class="pb-5 text-center lead">
    You can use any <a href="/software">XMPP-compatible software</a> to join the XMPP messaging network.
    <br>
    Developers can integrate their own software with XMPP using our <a href="/extensions">published specifications</a>.
  </div>
    <h2 class="text-center fw-bold">XMPP is the open standard for messaging and presence</h2>
    <div class="row gx-4 pt-5 row-cols-1 row-cols-md-2 row-cols-lg-4">
      <div class="col text-center feature-home">
        <p>XMPP powers emerging technologies like <a href="/uses/internet-of-things/">IoT</a>, <a href="/uses/webrtc/">WebRTC</a>, <a href="/uses/instant-messaging/">Instant Messaging</a>, <a href="/uses/gaming/">Online Gaming</a>, and <a href="/uses/social/">Realtime Social</a>.</p>
      </div>
      <div class="col text-center feature-home">
        <p>No one owns XMPP. It's free and open for everyone <a href="/about/history/">since 1999</a>.</p>
      </div>
      <div class="col text-center feature-home">
        <p>It's a <a href="/about/standards-process/">living standard</a>. Engineers actively extend and improve it.</p>
      </div>
      <div class="col text-center feature-home">
        <p>Millions use <a href="/software/">XMPP software</a> daily to connect to people and services.</p>
      </div>
    </div>
</div>
<div class="software-list row p-4 pe-lg-0 pt-lg-5 mx-5 align-items-center rounded-3 border shadow-sm">
    <h2 class="text-center">
      Software for every platform<br> and libraries for every language
    </h2>
    <div class="logo-software-list large-12 columns text-center">
      <img class="logo-software" src="/images/logos/erlang.svg" alt="Erlang">
      <img class="logo-software" src="/images/logos/ruby.svg" alt="Ruby">
      <img class="logo-software" src="/images/logos/python.svg" alt="Python">
      <img class="logo-software" src="/images/logos/java.svg" alt="Java">
      <img class="logo-software" src="/images/logos/javascript.svg" alt="JavaScript">
      <img class="logo-software" src="/images/logos/cpp.svg" alt="C++">
      <img class="logo-software" src="/images/logos/lua.svg" alt="Lua">
      <img class="logo-software" src="/images/logos/rust.svg" alt="Rust">
      <img class="logo-software" src="/images/logos/apple.svg" alt="Apple">
      <img class="logo-software" src="/images/logos/windows.svg" alt="Windows">
      <img class="logo-software" src="/images/logos/linux.svg" alt="Linux">
      <img class="logo-software" src="/images/logos/android.svg" alt="Android">
    </div>
    <h5 class="text-center">
      <a href="/software/">Find the tools you need »</a>
    </h5>
 </div>
 <div class="row py-5 mx-5 justify-content-center">
  <div class="col-12 col-md-8 col-lg-6">
    <h3 class="text-center pb-2"><a href="/community/events/">Upcoming Events</a></h3>
    {{- $events_counter := 0 -}}
    {{- range .Site.Data.events -}}
      {{- $start_date := .date_start | time -}}
      {{- if gt $start_date now -}}
        {{- $events_counter = add $events_counter 1 -}}
        <div class="card text-bg-tertiary mb-3">
          <h5 class="card-header">
            {{- .type -}}
          </h5>
          <div class="card-body">
            <div class="mb-1">
              <i class="fa-solid fa-location-dot text-body-tertiary"></i>&nbsp;
              {{- .location -}}
            </div>
            <a href="{{- .url -}}">
              {{- if .title -}}
                  {{- .title -}}&nbsp;-&nbsp;
              {{- end -}}
              {{- if .date_end -}}
                  {{- $end_date := .date_end | time -}}
                  {{- if eq (dateFormat "January" $start_date) (dateFormat "January" $end_date) -}}
                      {{- dateFormat "January 2" $start_date -}}-{{- dateFormat "2, 2006" $end_date -}}
                  {{- else -}}
                      {{- dateFormat "January 2" $start_date -}}-{{- dateFormat "January 2, 2006" $end_date -}}
                  {{- end -}}
              {{- else -}}
                  {{- dateFormat "January 2, 2006" $start_date -}}
              {{- end -}}
            </a>
            {{- if .desc -}}
              &nbsp;({{- .desc -}})
            {{- end -}}
          </div>
        </div>
      {{- end -}}
    {{- end -}}
    {{- if eq $events_counter 0 -}}
        <div class="text-center text-muted">
          <span>No upcoming events.</span>
        </div>
    {{- end -}}
  </div>
 </div>
{{- end -}}
