name: Build Website

on:
  push:
    branches: [ master ]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install Python packages
        run: pip install -r tools/requirements.txt

      - name: Software list linting
        run: |
          python tools/lint_list.py clients.json
          python tools/lint_list.py servers.json
          python tools/lint_list.py libraries.json

      - name: Prepare XEP list
        run: python tools/prepare_xep_list.py

      - name: Prepare RFC list
        run: python tools/prepare_rfc_list.py

      - name: Set up Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.80.0'

      - name: Build website
        run: hugo

      - name: Upload build artifact
        uses: actions/upload-artifact@master
        with:
          name: website
          path: './public'
