name: Build Website

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Build website every day at 4:00 UTC
  schedule:
    - cron: "0 4 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ARCHIVE: xmpp-org-master.tar.gz

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Python packages
        run: uv pip install --system -r pyproject.toml

      - name: Software list linting
        run: |
          python src/lint_software_list.py software.json
          python src/lint_software_list.py software_archive.json

      - name: Prepare XEP list
        run: python src/prepare_xep_list.py

      - name: Prepare RFC list
        run: python src/prepare_rfc_list.py

      - name: Prepare software list
        run: python src/prepare_software_list.py

      - name: Set up Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.145.0"

      - name: Build website
        run: hugo

      - name: Create build archive
        run: tar -czf ${{ env.ARCHIVE }} "./public"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: xmpp.org-master
          path: ${{ env.ARCHIVE }}
